<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>BookClub - About</title>
</head>
<body>
  <header>
    <h1>Prachi's BookClub</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/books">Books</a>
    </nav>
  </header>
  <main class="container">
    <section>
      <h2>Personal Information</h2>
      <div class="about-info">
        <p><strong>Name:</strong> Prachi Parth Trivedi </p>
        <p><strong>Email:</strong> ptrivedi5448@conestoga.on.ca</p>
        <p><strong>Originally From:</strong> Gujarat, India</p>
      </div>
    </section>
    <section>
      <h2>Future Plans</h2>
      <div class="about-plans">
        <p>I have always had a deep-seated passion for entrepreneurship, which has been shaped by my extensive experience in business development back home. This background has not only honed my skills in identifying opportunities and nurturing ideas but has also instilled in me a profound drive to innovate, particularly in the realm of mobile applications. The excitement of conceptualizing and bringing to life solutions that can impact people's lives drives me forward every day.</p>
        <p>However, I recognize the importance of gaining further industry experience before fully committing to my entrepreneurial venture. Working in an established industry will provide me with invaluable insights into market dynamics, customer behaviors, and operational strategies. Moreover, it will afford me the opportunity to build a robust professional network, connecting with like-minded individuals and potential collaborators who can offer guidance and support as I embark on my startup journey.</p>
        <p>By combining my passion for entrepreneurship with practical industry experience, I aim to leverage both sets of skills to create a successful and sustainable business. This dual approach not only enhances my knowledge base but also equips me with the resources and relationships necessary to navigate the challenges and capitalize on the opportunities that lie ahead.</p>
      </div>
    </section>
  </main>
  <footer>
    <p>&copy; 2024 Prachi's BookClub. All rights reserved.</p>
  </footer>
</body>
</html>