<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>BookClub - Books</title>
</head>
<body>
  <header>
    <h1>Prachi's BookClub</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/books">Books</a>
    </nav>
  </header>
  <main class="container">
    <section>
      <h2>Books List</h2>
      <div class="book-list">
        <div class="book-item">
          <img src="/images/book2.jpg" alt="Book Image Book 1">
          <p><strong>Pragmatic Programmer, The: Your journey to mastery</strong> by David Thomas, Andrew Hunt</p>
        </div>
        <div class="book-item">
          <img src="/images/book1.jpg" alt="Book Image Book 2">
          <p><strong>Clean Code: A Handbook of Agile Software Craftsmanship</strong> by Robert Martin</p>
        </div>
        <div class="book-item">
          <img src="/images/book4.jpg" alt="Book Image Book 3">
          <p><strong>System Design Interview – An insider's guide</strong> by Alex Xu</p>
        </div>
      </div>
    </section>
    <section>
      <h2>Fiction</h2>
      <div class="book-list">
        <div class="book-item">
          <img src="/images/fiction1.jpg" alt="Fiction Book 1">
          <p><strong>The Silent Patient</strong> by Alex Michaelides</p>
        </div>
        <div class="book-item">
          <img src="/images/fiction2.jpg" alt="Fiction Book 2">
          <p><strong>The Fault in Our Stars</strong> by John Green</p>
        </div>
        <div class="book-item">
          <img src="/images/fiction3.jpg" alt="Fiction Book 3">
          <p><strong>Reminders of Him</strong> by Colleen Hoover</p>
        </div>
      </div>
    </section>
    <section>
      <h2>Non-Fiction</h2>
      <div class="book-list">
        <div class="book-item">
          <img src="/images/nonfiction1.jpg" alt="Non-Fiction Book 1">
          <p><strong>The Company: The Rise and Fall of the Hudson's Bay Empire</strong> by Stephen Bown</p>
        </div>
        <div class="book-item">
          <img src="/images/nonfiction2.jpg" alt="Non-Fiction Book 2">
          <p><strong>American Prometheus</strong> by Kai Bird, Martin J. Sherwin</p>
        </div>
        <div class="book-item">
          <img src="/images/nonfiction3.jpg" alt="Non-Fiction Book 3">
          <p><strong>Dead Mountain: The Untold True Story of the Dyatlov Pass Incident</strong> by Donnie Eichar</p>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <p>&copy; 2024 Prachi's BookClub. All rights reserved.</p>
  </footer>
</body>
</html>