body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333333;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px 0;
}
header {
  background-color: #FAF9F6;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px; 
  margin-bottom: 20px;
}

header nav a {
  color: #2c3e50;
  margin: 0 10px;
  text-decoration: none;
}
h1 {
  color: #2c3e50;
  text-align: center;
}

header nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}
 h2 {
  color: #2c3e50;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.book-item {
  flex: 1 1 calc(25% - 20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #ffffff;
  text-align: center;
}

.book-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

footer {
  background-color: #2c3e50;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}
.about-info p,
.about-plans p {
  margin-bottom: 15px;
}